{% htmlcompress %}<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ lang_enable() }}"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="{{ lang_enable() }}"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="{{ lang_enable() }}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang_enable() }}"> <!--<![endif]-->
{% block head %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family={{ 'web.google_fonts'|config }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ "main.css"|asset }}">

        {% include 'parts/social_metas/mini.twig' %}

        {{ favicon_block() }}
    </head>
{% endblock %}
<body id="{{ body_name }}" class="{{ body_class }}">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
{% block header %}
    {% include 'parts/header.twig' %}
{% endblock %}

{% block slide %}{% endblock %}

{% block content %}{% endblock %}

{% include 'parts/footer.twig' %}

{% block js %}
    <script defer src="{{ 'web.fontawesome_js'|config }}"></script>
    <script src="{{ "main.js"|asset }}"></script>
{% endblock %}
<script>
    {% set mensaje=flash_alert() %}
    {% if mensaje!='' %}
    bootbox.alert("{{ mensaje }}");
    {% endif %}
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', '{{ 'seo.google_UA'|config }}', 'auto');
    ga('send', 'pageview');

    if (window.location.hash == '#{{ "web.ok_send_hash"|config|trans }}') {
        bootbox.alert('{{ "web.ok_send"|config|trans }}');
    }
</script>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/es_ES/fbevents.js');
    fbq('init', '{{ 'seo.facebook_pixel'|config }}');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id={{ 'seo.facebook_pixel'|config }}&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
</body>
</html>{% endhtmlcompress %}